:root {
    --navbar-height: 56px;
}

@media (max-width: 767px) {
    body:has(#navbar-links.show) {
        --navbar-height: 256px;
    }
}

body > header.navbar {
    z-index: 1025;
}

.sticky-md-top:not(.navbar) {
    top: var(--navbar-height) !important;
}

[id] {
    scroll-margin-top: var(--navbar-height);
}

@media (min-width: 768px) {
  .sidebar-scroll.sticky-md-top {
    max-height: 100vh;
    overflow-y: auto;
  }
}