.primary-local {
    color:white;
    background-image: linear-gradient(to top, sienna, darkred);
}

.secondary-local {
    color: lightgray;
    background-image: linear-gradient(to top, sienna, brown);
}

.tertiary-local {
    background-color: rgb(255, 239, 231);
}