body {
    background-image: linear-gradient(270deg, white, rgb(255, 227, 227));
}

@media (max-width:576px) {
    h1 {
        font-size: 24px;
    }
}

@media (min-width: 768px) {
    section {
        width: 50%;
    }
}

section {
    margin-top: 30px;
}

section > h2 {
    border-bottom: 5px solid rgb(185, 139, 87);
    color:darkred;
}

section > ul li {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(139, 0, 0, 0.052);
    list-style: none;
}

section > ul > a {
    color: rgb(255, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: 20px;
}

section > ul > a span {
    color: darkred;
    font-size: 15px;
}