body {
    background-image: linear-gradient(270deg, white, rgb(255, 227, 227));
}

h1 {
    font-size: 18px;
}

@media (min-width:576px) {
    h1 {
        font-size: 28px;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: revert;
    }
}

section {
    width: 75%;
}

@media (min-width: 992px) {
    section {
        width: 50%;
    }
}

section.informacion {
    padding: 10px;
    border: 5px double darkred;
}

section.enlaces {
    margin-top: 30px;
}

section.enlaces > h2 {
    border-bottom: 5px solid rgb(185, 139, 87);
    color:darkred;
}

section.enlaces ul {
    padding-inline-start: 0px;
}

@media (min-width:768px) {
    section.enlaces ul {
        padding-inline-start: revert;
    }
}

section.enlaces ul li {
    margin: 10px;
    border-radius: 10px;
    background-color: rgba(139, 0, 0, 0.052);
    list-style: none;
}

section.enlaces ul a {
    display: block;
    padding: 10px;
    color: rgb(255, 0, 0);
    font-family: Calibri, sans-serif;
    text-decoration: none;
    font-size: 20px;
}

section.enlaces ul a > span {
    color: darkred;
    font-size: 15px;
}